<title>Revised Cohort Report</title>
<style type="text/css" xmlns="http://www.w3.org/1999/html">
    td {
        padding: 12px;
    }
    .table-main {
        width: 99%;
        height: 100%;
        border: 0;
        border-spacing: 0;
        font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
        font-size: large;
        overflow: auto;
        text-overflow: ellipsis;
        margin: auto;
        page-break-inside: auto;
        padding-bottom: 70px;
    }
    .table-top {
        page-break-inside: auto;
        width: 99%;
        border: 0;
        border-spacing: 0;
        font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
        font-size: large;
        overflow: auto;
        text-overflow: ellipsis;
        margin: auto;
        page-break-inside: auto;
    }
    .border-null {
        border: none;
    }
    .text-bold {
        font-weight: bold;
    }
    .text-center {
        text-align: center;
    }
    .text-italic {
        font-style: italic;
    }
    .text-smaller {
        font-size: smaller;
    }
    .index {
        border: none;
        width: 2%;
    }
    .border-null-right {
        border-right: none;
    }
    .border-null-left {
        border-left: none;
    }
    .border-null-top {
        border-top: none;
    }
    .border-null-bottom {
        border-bottom: none;
    }
    .border-left-dotted {
        border-left-style: dotted;
    }
    .border-right-dotted {
        border-right-style: dotted;
    }
    .border-bottom-dotted {
        border-bottom-style: dotted;
    }
    .border-top-dotted {
        border-top-style: dotted;
    }
    .buttons {
        top: 0px;
    }
    .button {
        font-size: 28px;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        cursor: pointer;
        color: #ffffff;
        padding: 10px;
        display: inline-block;
        text-decoration: none;
        min-width: 120px;
        min-height: 55px;
        margin: 3px;
        border-radius: 3px !important;
    }
    .button-print:hover {
        border: #5ca6c4;
        background-color: #2F30EE;
    }
    .button-print {
        border: #7eb9d0;
        background-color: #5ca6c4;
        float: left;
    }
    .button-finish:hover {
        border: #224b09;
        background-color: #224b09;
    }
    .button-finish {
        border: #4ba614;
        background-color: #4ba614;
        float: right;
    }
    .row-button-print {
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 80px;
        overflow: hidden;
        padding-right: 20px;
        width: 100%;
        background-color: rgb(51,51,51);
    }
    .row-break {
        line-height: 1px;
    }
    .clinic-head {
        width: 10% !important;
    }
    .clinic-description {
        width: 23%;
    }
    .clinic-result {
        width: 16%;
    }
    .column-break {
        width: 1%;
        border: none;
    }
    .bolder {
        border: black;
        border-style: solid;
        border-width: 2px;
    }
    .bolder-left {
        border-left: black;
        border-left-style: solid;
        border-left-width: 2px;
    }
    .bolder-right {
        border-right: black;
        border-right-style: solid;
        border-right-width: 2px;
    }
    .bolder-bottom {
        border-bottom: black;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    .bolder-top {
        border-top: black;
        border-top-style: solid;
        border-top-width: 2px;
    }
    .number {
        text-align: right;
    }
  #consistency_check {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 25px;
    margin-right: 15px;
    color: #ea091a;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    line-height: 32px
  }
  #incosistence_title {
    font-size: 24px;
    text-align: center;
  }
</style>
