<style type="text/css">
	.table {
		width: 100%;
		padding: 10px;
	}
	.table-top {

	}
	.table-main {

	}
	.answer {
		text-align: center;
		border-top: 1px solid;
		border-bottom: 1px solid;
		font-size: large;
	}
	.y {
		border-left: 1px solid;
	}
	.n {
		border-right: 1px solid; 
	}
	.border-left {
		border-left: 2px solid;
	}
</style>
<table class="table table-top">
	<tr>
		<td>ANC</td>
		<td class="answer y">Y</td>
		<td class="answer n">N</td>
		<td>TB reg (initiation)</td>
		<td class="answer y">Y</td>
		<td class="answer n">N</td>
		<td>CD4 count (on site)</td>
		<td class="answer y">Y</td>
		<td class="answer n">N</td>
	</tr>
	<tr>
		<td>Maternity</td>
		<td class="answer y">Y</td>
		<td class="answer n">N</td>
		<td>STI treat</td>
		<td class="answer y">Y</td>
		<td class="answer n">N</td>
		<td>Blood collection*</td>
		<td class="answer y">Y</td>
		<td class="answer n">N</td>		
	</tr>
	<tr>
		<td>Family Planning</td>
		<td class="answer y">Y</td>
		<td class="answer n">N</td>
		<td>HIV exp child fup</td>
		<td class="answer y">Y</td>
		<td class="answer n">N</td>
		<td>Transfusion</td>
		<td class="answer y">Y</td>
		<td class="answer n">N</td>		
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>*for transfusion from replacement donors</td>		
	</tr>
</table>
<table class="table table-main" border="2px">
	<tr>
		<th colspan="10">Cohort survival analysis</th>
	</tr>
	<tr>
		<td>Reg. cohort</td>
		<td>Internal months</td>
		<td>Sub group</td>
		<td>Total reg. (database)</td>
		<td>Total reg. (confirmed)</td>
		<td class="border-left">
			<table class="table inner-table">
				<tr>
					<td colspan="5">Outcomes as of end of quarter evaluated</td>
				</tr>
				<tr>
					<td>Alive</td>
					<td>Died</td>
					<td>Defaulted</td>
					<td>Stopped</td>
					<td>Transfer out</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>2006 Q2</th>
		<td>120</td>
		<td>all ages</td>
		<td>250</td>
		<td>250</td>
		<td class="border-left">
			<table class="table table-inner">
				<tr>
					<td>81</td>
					<td>48</td>
					<td>63</td>
					<td>1</td>
					<td>57</td>					
				</tr>
			</table>
		</td>
	</tr>
</table>