<style type="text/css">
	.table {
		width: 100%;
		padding: 10px;
	}
	.table-main {

	}
	.border-left {
		border-left: 2px solid;
	}
</style>

<table class="table table-main" border="2px">
	<tr>
		<th colspan="10">Cohort survival analysis</th>
	</tr>
	<tr>
		<td>Reg. cohort</td>
		<td>Internal months</td>
		<td>Sub group</td>
		<td>Total reg. (database)</td>
		<td>Total reg. (confirmed)</td>
		<td class="border-left">
			<table class="table inner-table">
				<tr>
					<td colspan="5">Outcomes as of end of quarter evaluated</td>
				</tr>
				<tr>
					<td>Alive</td>
					<td>Died</td>
					<td>Defaulted</td>
					<td>Stopped</td>
					<td>Transfer out</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>2006 Q2</th>
		<td>120</td>
		<td>all ages</td>
		<td>250</td>
		<td>250</td>
		<td class="border-left">
			<table class="table table-inner">
				<tr>
					<td>81</td>
					<td>48</td>
					<td>63</td>
					<td>1</td>
					<td>57</td>					
				</tr>
			</table>
		</td>
	</tr>
</table>