<style type="text/css">
        td {
            padding: 12px;
        }
        .table {
            width: 99%;
            height: 100%;
            border: none;
            border-spacing: 0;
            font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
            font-size: smaller;
            overflow: auto;
            text-overflow: ellipsis;
            margin: auto;
        }
        .border-null {
            border: none;
        }
        .text-bold {
            font-weight: bold;
        }
        .text-center {
            text-align: center;
        }
        .text-italic {
            font-style: italic;
        }
        .index {
            border: none;
        }
        .border-null-right {
            border-right: none;
        }
        .border-null-left {
            border-left: none;
        }
        .border-null-top {
            border-top: none;
        }
        .border-null-bottom {
            border-bottom: none;
        }
        .border-left-dotted {
            border-left-style: dotted;
        }
        .border-right-dotted {
            border-right-style: dotted;
        }
        .border-bottom-dotted {
            border-bottom-style: dotted;
        }
        .border-top-dotted {
            border-top-style: dotted;
        }
</style>

<table class="table" border="2px;">
    <tr>
        <td class="index">1.</td>
        <td class=" border-null-bottom text-bold">
            Clinic name
        </td>
        <td colspan="5">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">2.</td>
        <td class="border-null-bottom border-null-top">
            Supervisors
        </td>
        <td colspan="2" class="text-bold">
            Name
        </td>
        <td colspan="3" class="text-bold">
            Signature
        </td>
    </tr>
    <tr>
        <td class="index">3.</td>
        <td class="border-null-bottom border-null-top">
            &nbsp;
        </td>
        <td colspan="2">
            &nbsp;
        </td>
        <td colspan="3">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">4.</td>
        <td class="border-null-bottom border-null-top">
            &nbsp;
        </td>
        <td colspan="2">
            &nbsp;
        </td>
        <td colspan="3">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">5.</td>
        <td class="border-null-bottom border-null-top">
            &nbsp;
        </td>
        <td colspan="2">
            &nbsp;
        </td>
        <td colspan="3">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">6.</td>
        <td class="border-null-bottom border-null-top">
            &nbsp;
        </td>
        <td colspan="2">
            &nbsp;
        </td>
        <td colspan="3">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">7.</td>
        <td class="border-null-top">
            Quarter evaluated
        </td>
        <td colspan="2">
            Year
        </td>
        <td colspan="3">
            Quarter
        </td>
    </tr>
    <tr>
        <td class="border-null" colspan="7">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="border-null">
            &nbsp;
        </td>
        <td colspan="2" class="border-null text-bold">
            HIV CARE CLINIC
        </td>
        <td class="border-null" colspan="4">
            *Supervisors: No need to copy the 'Clinic own data' on this page
        </td>
    </tr>
    <tr>
        <td class="border-null">
            &nbsp;
        </td>
        <td class="border-null" colspan="2">
            &nbsp;
        </td>
        <td colspan="2" class="text-bold text-center border-null">
            Newly registered in quarter
        </td>
        <td colspan="2" class="text-bold text-center border-null">
            Cumulative ever registered
        </td>
    </tr>
    <tr>
        <td class="border-null">
            &nbsp;
        </td>
        <td class="border-null text-bold" colspan="2">
            HCC Patient registration details
        </td>
        <td class="border-null text-center">
            Clinic own data*
        </td>
        <td class="border-null text-center">
            Checked data
        </td>
        <td class="border-null text-center">
            Clinic own data*
        </td>
        <td class="border-null text-center">
            Checked data
        </td>
    </tr>
    <tr>
        <td class="index">
            8.
        </td>
        <td colspan="2">
            Total Registered
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            9.
        </td>
        <td class="text-bold border-null-bottom border-null-right">
            FT
        </td>
        <td class="border-null-bottom border-null-left">
            Patients enrolled first time
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            10.
        </td>
        <td class="text-bold border-null-top border-null-bottom border-null-right">
            Re
        </td>
        <td class="border-null-left border-null-top border-null-bottom">
            Patients re-enrolled
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            11.
        </td>
        <td class="text-bold border-null-top border-null-right">
            TI
        </td>
        <td class="border-null-top border-null-left">
            Patients transferred in
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            12.
        </td>
        <td class="text-bold border-null-bottom border-null-right">
            M
        </td>
        <td class="border-null-bottom border-null-left">
            Males (all ages)
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            13.
        </td>
        <td class="text-bold border-null-top border-null-bottom border-null-right">
            FNP
        </td>
        <td class="border-null-left border-null-top border-null-bottom">
            Non-pregnant Females (all ages)
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            14.
        </td>
        <td class="text-bold border-null-top border-null-right">
            FP
        </td>
        <td class="border-null-top border-null-left">
            Pregnant Females (Should not be in HCC!)
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            15.
        </td>
        <td class="text-bold border-null-bottom border-null-right">
            A1
        </td>
        <td class="border-null-bottom border-null-left">
            Infants below 2 months at enrolment
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            16.
        </td>
        <td class="text-bold border-null-top border-null-right border-null-bottom">
            A2
        </td>
        <td class="border-null-top border-null-left border-null-bottom">
            Children 2 - below 24 months at enrolm.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            17.
        </td>
        <td class="text-bold border-null-top border-null-bottom border-null-right">
            B
        </td>
        <td class="border-null-left border-null-top border-null-bottom">
            Children 24 months - 14 yrs at enrolm.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            18.
        </td>
        <td class="text-bold border-null-top border-null-right">
            C
        </td>
        <td class="border-null-top border-null-left">
            Adults 15 years or older at enrolment
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            19.
        </td>
        <td class="text-bold border-null-bottom border-null-right">
            Exp
        </td>
        <td class="border-null-bottom border-null-left">
            Exposed infants
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            20.
        </td>
        <td class="text-bold border-null-top border-null-right">
            Conf
        </td>
        <td class="border-null-top border-null-left">
            Patients re-enrolled
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="border-null" colspan="7">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="border-null">
            &nbsp;
        </td>
        <td colspan="4" class="text-bold border-null">
            Primary outcomes of all Pre-ART patients ever registered as of the end of quarter
        </td>
        <td class="border-null">
            Clinic own data*
        </td>
        <td class="border-null">
            Checked data
        </td>
    </tr>
    <tr>
        <td class="index">
            21.
        </td>
        <td colspan="4">
            Total retained alive in pre-ART follow-up
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            22.
        </td>
        <td colspan="4" class="border-null-bottom">
            Started ART
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            23.
        </td>
        <td colspan="4" class="border-null-top border-null-bottom">
            Transferred out
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            24.
        </td>
        <td colspan="4" class="border-null-bottom border-null-top">
            Defaulted (more than 2 months late for next appointment)
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            25.
        </td>
        <td colspan="4" class="border-null-top">
            Died
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="border-null" colspan="7">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="border-null">
            &nbsp;
        </td>
        <td colspan="2" class="border-null text-bold">
            ART CLINIC
        </td>
        <td class="border-null" colspan="4">
            *Supervisors: No need to copy the 'Clinic own data' on this page
        </td>
    </tr>
    <tr>
        <td class="border-null">
            &nbsp;
        </td>
        <td class="border-null" colspan="2">
            &nbsp;
        </td>
        <td colspan="2" class="text-bold text-center border-null">
            Newly registered in quarter
        </td>
        <td colspan="2" class="text-bold text-center border-null">
            Cumulative ever registered
        </td>
    </tr>
    <tr>
        <td class="border-null">
            &nbsp;
        </td>
        <td class="border-null text-bold" colspan="2">
            Patient registration details
        </td>
        <td class="border-null text-center">
            Clinic own data*
        </td>
        <td class="border-null text-center">
            Checked data
        </td>
        <td class="border-null text-center">
            Clinic own data*
        </td>
        <td class="border-null text-center">
            Checked data
        </td>
    </tr>
    <tr>
        <td class="index">
            26.
        </td>
        <td colspan="2">
            Total Registered
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            27.
        </td>
        <td class="text-bold">
            FT
        </td>
        <td>
            Patients initiated on ART first time
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            28.
        </td>
        <td class="text-bold">
            Re
        </td>
        <td>
            Patients re-initiated on ART
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            29.
        </td>
        <td class="text-bold">
            TI
        </td>
        <td>
            Patients transferred in on ART
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            30.
        </td>
        <td class="text-bold">
            M
        </td>
        <td>
            Males (all ages)
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            31.
        </td>
        <td class="text-bold">
            FNP
        </td>
        <td>
            Non-pregnant Females (all ages)
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            32.
        </td>
        <td class="text-bold">
            FP
        </td>
        <td>
            Pregnant Females (all ages)
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            33.
        </td>
        <td class="text-bold">
            A
        </td>
        <td>
            Children below 24 m at ART initiation
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            34.
        </td>
        <td class="text-bold">
            B
        </td>
        <td>
            Children 24 m - 14 yrs at ART initiation
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            35.
        </td>
        <td class="text-bold">
            C
        </td>
        <td>
            Adults 15 years or older at ART initiation
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            &nbsp;
        </td>
        <td colspan="6" class="border-null">
            Reason for starting ART
        </td>
    </tr>
    <tr>
        <td class="index">
            36.
        </td>
        <td class="text-bold">
            PSHD
        </td>
        <td>
            Pres. Sev. HIV disease age < 12 m
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            37.
        </td>
        <td class="text-bold">
            PCR
        </td>
        <td>
            Infants < 12 mths PCR+
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            38.
        </td>
        <td class="text-bold">
            U5
        </td>
        <td>
            Children 12-59 mths
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            39.
        </td>
        <td class="text-bold">
            Preg
        </td>
        <td>
            Pregnant women
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            40.
        </td>
        <td class="text-bold">
            BF
        </td>
        <td>
            Breastfeeding mothers
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            41.
        </td>
        <td class="text-bold">
            CD4
        </td>
        <td>
            CD4 below threshold
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            42.
        </td>
        <td class="text-bold">
            Asy
        </td>
        <td>
            Asymptomatic / mild
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            43.
        </td>
        <td class="text-bold">
            3
        </td>
        <td>
            WHO stage 3
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            44.
        </td>
        <td class="text-bold">
            4
        </td>
        <td>
            WHO stage 4
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            45.
        </td>
        <td class="text-bold">
            Unk
        </td>
        <td>
            Unknown / reason outside guidelines
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="7" class="border-null">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            &nbsp;
        </td>
        <td colspan="6" class="border-null">
            Stage defining conditions at ART initiation
        </td>
    </tr>
    <tr>
        <td colspan="7" class="border-null">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            46.
        </td>
        <td class="text-bold">
            Nev/>2yrs
        </td>
        <td>
            Never TB or TB over 2 years ago
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            47.
        </td>
        <td class="text-bold">
            Last 2yrs
        </td>
        <td>
            TB within the last 2 years
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            48.
        </td>
        <td class="text-bold">
            Curr
        </td>
        <td>
            Current episode of TB
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            49.
        </td>
        <td class="text-bold">
            KS
        </td>
        <td>
            Kaposi's Sarcoma
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="border-null">
            &nbsp;
        </td>
        <td colspan="4" class="text-bold border-null">
            Primary outcomes as of the end of the quarter evaluated
        </td>
        <td colspan="2" class="text-bold border-null">
            Out of all patients ever registered
        </td>
    </tr>
    <tr>
        <td class="border-null">
            &nbsp;
        </td>
        <td colspan="4" class="text-bold border-null">
            &nbsp;
        </td>
        <td class="border-null">
            Clinic own data**
        </td>
        <td class="border-null">
            Checked data
        </td>
    </tr>
    <tr>
        <td class="index">
            50.
        </td>
        <td colspan="4">
            Total alive and on ART
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            51.
        </td>
        <td class="text-bold">
            M1
        </td>
        <td colspan="3">
            Died within the 1st month after ART initiation
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            52.
        </td>
        <td class="text-bold">
            M2
        </td>
        <td colspan="3">
            Died within the 2nd month after ART initiation
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            53.
        </td>
        <td class="text-bold">
            M3
        </td>
        <td colspan="3">
            Died within the 3rd month after ART initiation
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            54.
        </td>
        <td class="text-bold">
            M4+
        </td>
        <td colspan="3">
            Died after the end of the 3rd month after ART initiation
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            55.
        </td>
        <td colspan="4">
            Died total
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            56.
        </td>
        <td colspan="4">
            Defaulted (more than 2 months overdue after expected to have run out of ARVs)
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            57.
        </td>
        <td colspan="4">
            Stopped taking ARVs (clinician or patient own decision, last known alive)
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            58.
        </td>
        <td colspan="4">
            Transferred Out
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="7" class="border-null">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index border-null">
            &nbsp;
        </td>
        <td class="border-null text-bold" colspan="6">
            Secondary outcomes of those alive on ART
        </td>
    </tr>
    <tr>
        <td colspan="7" class="border-null">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            61.
        </td>
        <td>
            ART Regimens
        </td>
        <td>
            Paediatric formulations (blue card)
        </td>
        <td colspan="2">
            Regimen <b>0P</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            62.
        </td>
        <td>
            &nbsp;
        </td>
        <td rowspan="5" class="text-italic">
            Count regimen for <u>all patients registered</u> at this site,
            including those who currently get supplies from another site
        </td>
        <td colspan="2">
            Regimen <b>1P</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            63.
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>2P</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            64.
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>3P</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            65.
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>4P</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            66.
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>9P</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            67.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <b>Adult</b> formulations (yellow card)
        </td>
        <td colspan="2">
            Regimen <b>0A</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            68.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>1A</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            69.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>2A</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            70.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>3A</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            71.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>4A</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            72.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>5A</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            73.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>6A</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            74.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>7A</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            75.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Regimen <b>8A</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            76.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            Specify above regimens counted as 'Other'
        </td>
        <td colspan="2">
            Other (paed. / adult)
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            77.
        </td>
        <td class="text-bold">
            Side effects
        </td>
        <td>
            (as of the last visit before end of quarter)
        </td>
        <td class="text-bold" colspan="2">
            None
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            78.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            <b>Any</b> side effects
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            79.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            <b>Unk</b>own (not circled)
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            80.
        </td>
        <td class="text-bold">
            Adherence
        </td>
        <td>
            (as of the last visit before end of quarter)
        </td>
        <td colspan="2">
            <b>0 - 3 doses missed</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            81.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            <b>4+</b> doses missed
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            82.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            <b>Unk</b>nown (not circled)
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            83.
        </td>
        <td>
            <b>Current TB status</b> any form of TB
        </td>
        <td>
            (as of the last visit before end of quarter)
        </td>
        <td colspan="2">
            TB <b>not</b> suspected
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            84.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            TB <b>suspected</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            85.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            TB conf., <b>not</b> on Rx
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            86.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            TB conf., <b>on TB Rx</b>
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="index">
            87.
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Unknown (not circled)
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
</table>