
#fast-track-table {
  height: 90%;
  width: 100%;
  border-collapse: collapse;
  border-width: 0px;
  font-size: 20px;
}

#inclusion, #exclusion {
  font-size: 25px;
  font-weight: bold;
  width: 48%;
}

#left_table {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
}

#exclusion {
}
